body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #4b4b4b;
}

#header {
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.progress {
    background-color: rgb(229, 229, 229);
    position: relative;
    border-radius: 8px;
    width: 885px;
    height: 16px;
}

.color {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ffc800;
    border-radius: 8px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 78.5vh;
    width: 100%;
}

.header {
    width: 600px;
    margin-left: 22.5%;
    margin-right: 22.5%;
    margin-bottom: 40px;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.buttons {
    width: 280px;
    height: 76px;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.buttons a {
    text-decoration: none;
    color: #4b4b4b;
}

.bread {
    color: rgb(229, 229, 229);
}

.food {
    color: rgb(229, 229, 229);
}

.water {
    color: rgb(229, 229, 229);
}

.drink {
    color: rgb(229, 229, 229);
}

.cat {
    color: rgb(229, 229, 229);
}

.animal {
    color: rgb(229, 229, 229);
}

.one {
    display: flex;
}

.two {
    display: flex;
}

.three {
    display: flex;
}

#footer {
    border-top: 2px solid rgb(229, 229, 229);
    position: sticky;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 22.5%;
}

.button {
    width: 165px;
    height: 46px;
    text-align: center;
    border-radius: 16px;
    background-color: rgb(88, 204, 2);
}

.button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
