@font-face {
  font-family: 'headlineFont';
  src: url('headline-font') format('woff'),  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'headlineFont', sans-serif;;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.container {
  background-color: transparent;
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

#i1 {
  opacity: 0;
}

.blobWindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: url('images/mirror.png');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  overflow: hidden;

}

#hint {
    position: fixed;
    bottom: 80px;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    font-size: small;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/mask-image */