@font-face {
  font-family: 'headlineFont';
  src: url('headline-font') format('woff'),  
}

h1 {
  font-family: 'headlineFont', sans-serif;
}

.window{
  outline: black dotted 4px;
    
  height: 100vh;
  width: 100%;


  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-img {
  width: 110%;            
  height: 110%;
  object-fit: cover;
  transition: transform 0.1s linear;
}