@font-face {
  font-family: 'headlineFont';
  src: url('headline-font') format('woff'),  
}

h1 {
  font-family: 'headlineFont', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'headlineFont';
}
 
body {
    background: white;
    height: 800vh;
    font-size: 100px;
}
 
#page {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#headline {
    font-weight: 300;
    /* font-size: 8vw; */
    color: black;
    letter-spacing: 0.06em;
    position: absolute;
    text-align: center;
}

 
#year {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* font-size: 30vw; */
    color: black;
    line-height: 1;
    opacity: 0;
    user-select: none;
    transition: opacity 1s ease;
}

.slot {
    height: 1em;
    overflow: hidden;
    display: block;
}
 
.slot-inner {
    display: flex;
    flex-direction: column;
}
 
.slot-inner .d {
    display: block;
    height: 1em;
    line-height: 1em;
}