@font-face {
  font-family: 'headlineFont';
  src: url('headline-font') format('woff'),  
}

h1 {
  font-family: 'headlineFont', sans-serif;
}

.windowHeight{
  outline: black dotted 4px;
    
  height: 100vh;
  width: 100%;


  display: flex;
  justify-content: center;
  align-items: center;
}

.year{
    pointer-events: none;
    
    position: fixed;
    top: 0.1px;
    left: 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
.specialWrapper p{
    pointer-events: all;
}

.specialWrapper p span{
    position: relative;
    display: inline-block;
    transition: transform 0.1s ease;
}