/* .sections {
    display: inline-block;
}

.navBar {
    width: 222px;
    padding-left: 16;
    padding-right: 16;
    border-right: 2px solid #e5e5e5;
}

.img {
    background-color: antiquewhite;
    outline: 1px dashed black;
    height: 30;
    max-width: 206;
    padding-top: 32;
    padding-left: 16;
    padding-bottom: 30;
}

.bodyWrapper {
    background-color: beige;
    outline: 2px dashed black;
    width: 1009;
}

.sideBar {
    outline: 2px dashed black;
} */

body {
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: space-between;
}

#navBar {
    width: 222px;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 2px solid #e5e5e5;
}

.nav {
    display: flex;
    align-items: center;
    width: 202px;
    height: 40px;
    padding-top: 4;
    padding-bottom: 4;
    padding-left: 8;
    padding-right: 8;
    margin-bottom: 20px;
}

.nav img {
    margin-right: 20px;
    margin-left: 10px;
    height: 32px;
}

.first {
    border: 2px solid rgb(132, 216, 255);
    background-color: rgb(221, 244, 255);
}

#image {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 30px;
}


/* //////////////////////////////////////////////////////////// */

.lessons img {
    outline: 1px dotted black;
    width: 60%;
}

.start img {
    position: relative;
    bottom: 30px;
    left: 270px;
    width: 90px;
}

#main {
    display: flex;
}

.header{
    background-color: aliceblue;
    outline: 1px dotted black;
    display: flex;
    justify-content: space-around;
    width: 368px;
    margin-bottom: 8px;
}
